.Battery {
  width: 400px;
  height: 100px;
  position: relative;
  @extend %sh1;
  padding: 2px;
  background-color: palette(Grey, 200);
  transition: 0.1s ease;

  margin: auto;
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
    @include scale(1.05);
    @extend %sh2;

    & > .battery-nub {
      @extend %sh2;
    }

    & > .battery-number {
      opacity: 1;
      @extend %sh2;
      font-weight: 700;
      font-size: 150%;
    }

    & > .ripple {
      opacity: 1;
      font-weight: 700;
      font-size: 200%;
    }
  }
}

.battery-fill-amount {
  background-color: palette(Green);
  height: 100%;
  width: 20%;
}

$nubSize: 40px;
.battery-nub {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -$nubSize / 2;
  margin-right: -$nubSize / 2;
  width: $nubSize / 2;
  height: $nubSize;
  background-color: palette(Grey);
  @extend %sh1;

  transition: 0.1s ease;
}

.ripple{
  overflow:hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;

  transition: 0.1s ease;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

  -webkit-animation: ripple-animation 2s;  
  animation: ripple-animation 2s;
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}

@-webkit-keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.4;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}

$batteryNumSize: 40px;
.battery-number {
  position: absolute;
  left: -$batteryNumSize - 10px;
  top: 50%;

  margin-top: -$batteryNumSize / 2;

  width: $batteryNumSize;
  height: $batteryNumSize;
  border-radius: $batteryNumSize / 2;
  background-color: palette(White);
  display: flex;
  align-items: center;
  justify-content: center;

  @extend %sh1;
  opacity: 0.4;

  transition: 0.1s ease;
}
