div#web-title {
  font-size: 36pt;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  background-color: palette(White);
  @extend %sh1;
  width: 480px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  & > img {
    width: 50px;
    margin-right: 10px;
  }
}
